body {
    background: url("./assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Neucha';
}

.bg-primary {
    background-color: transparent !important;
}

.navbar {
    border-style: hidden !important
}

.gribouillis1 {
    position: fixed !important;
    left: -100px;
    opacity: 0.4;
    z-index: -1;
}

.gribouillis2 {
    position: fixed !important;
    left: 300px;
    bottom: 200px;
    opacity: 0.4;
    width: 250px;
    z-index: -1;
}

.gribouillis3 {
    position: fixed !important;
    left: 1300px;
    bottom: -100px;
    opacity: 0.4;
    z-index: -1;
}

.gribouillis4 {
    position: fixed !important;
    left: 1600px;
    opacity: 0.4;
    width: 250px;
    transform: rotate(-12deg);
    z-index: -1;
}

.cadre {
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    width: 750px
}

.box-login {
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 350px;
      animation: 2s;
}

.back-box-login {
    z-index: 100;
    background: url("./assets/cadre.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 550px;
      height: 550px;
}

.box-signup {
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 350px;
      animation: 2s;
}

.back-box-signup {
    z-index: 100;
    background: url("./assets/cadre.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 550px;
      height: 650px;
}

legend {
   text-align: center; 
}

.leader-title {
    color: white;
}

@media screen and (max-width: 1360px)
{
    .gribouillis1 {
        display:none;
    }
    .gribouillis2 {
        display:none;
    }
    .gribouillis3 {
        display:none;
    }
    .gribouillis4 {
        display:none;
    }
}

@media screen and (max-width: 800px)
{
    .back-box-login {
        width: 450px;
        height: 450px;
    }

    .box-login {
        width: 250px;
    }
}

@media screen and (max-width: 500px)
{
    .back-box-login {
        width: 350px;
        height: 350px;
    }

    .box-login {
        width: 200px;
    }
}

button.btn-lancer-quizz {
    margin-top: 20%;
    text-align-last: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #cbffde; /*3*/
    border: 2px solid #415048; /*1*/
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.btn-lancer-quizz::before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #76bd9d; /*2*/
     border-radius: inherit;
    box-shadow: 0 0 0 2px #415048; /*1*/
     transform: translate3d(0, 0.75em, -1em);
     transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }

button.btn-lancer-quizz:hover {
    background: #cbffde;/*3*/
    transform: translate(0, 0.25em);
}

button.btn-lancer-quizz:active {
     background: #cbffde;/*3*/
     transform: translate(0em, 0.75em);
}

button.btn-lancer-quizz:active:before {
    box-shadow: 0 0 0 2px #415048, 0 0 #cbffde; /*1*/ /*3*/
    transform: translate3d(0, 0, -1em);
}